@page
@model Fitness.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}
<a href="/Appointments">Poglej termine</a>
<a href="/DietItem">Kalkuliraj kalorije</a>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>main page</p>

</div>

